body {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    margin: 0px;
    padding: 0px;
}

p.header {
    text-transform: uppercase;
    font-size: 24px;
    color: #9a9a9a;
    margin: 8px 0 0 0;
}

p.sub-header {
    font-size: 16px;
    color: #bababa;
    margin: 0 0 8px 0;
}

div.header {
    border-bottom: 1px solid #e2e2e2;
    box-shadow: 0 1px 0 #f5f5f5;
    float: left;
    width: 100%;
    text-align: center;
}






