<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="/resources/loginpage/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/resources/css/search.css">
</head>

<body>
    <div class="header">
        <p class="header">Search for post code</p>
        <p class="sub-header">please type the post code to search with</p>
    </div>

    <div ng-controller="SearchFormController" ng-app="myApp">
        <input type="text" name="test" ng-model="searchPhrase" />
        <button class="md-primary md-raised" ng-click="test($event, null)" >
            Search
        </button>
    </div>

    <script src="/resources/js/angularjs/angular.min.js"></script>
    <script src="/resources/js/angularjs/angular-route.min.js"></script>
    <script src="/resources/js/angularjs/config/app-config.js"></script>
    <script src="/resources/js/angularjs/service/search-service.js"></script>
    <script src="/resources/js/angularjs/controller/search-controller.js"></script>
</body>